/* Custom utility classes  */

:root {
  --primary-color: #135caa;
  --secondary-color: #cba951;
  --button-color1: #cba951;
  --button-color2: #135caa;
  --light-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--primary-colors);
}

img {
  height: auto;
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

section {
  padding: 80px 0;
}

.pt-0 {
  padding-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.column {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.column-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.column-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.column-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.column-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.column-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.column-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.column-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.column-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.column-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.column-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.column-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.column-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.align-middle {
  align-items: center !important;
}

.align-end {
  align-items: flex-end !important;
}

.justify-center {
  justify-content: center;
}

/* Header */

.site-logo img {
  max-width: 250px;
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-block: 5px;
}

.nav-btns {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  font-size: 16px;
  align-items: center;
}

.header-top .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.main-navigation li {
  display: inline-block;
}

.main-navigation li a {
  margin: 10px;
}

.header-btn {
  border-radius: 5px;
  background-color: var(--button-color2);
  padding: 7px 12px;
  color: #fff;
  transition: all 0.2s ease-in;
}

.header-btn:hover {
  background-color: var(--button-color1);
}

.appoinment-btns a:nth-child(2) {
  margin-left: 20px;
}

a.header-btn i {
  padding-right: 10px;
}

.main-navigation ul li {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  padding: 0 15px 0;
  font-size: 16px;
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}

.header-top-right {
  gap: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding: 10px;
}

nav.main-navigation ul > li:hover .sub-menu {
  display: block;
}

.sub-menu {
  position: absolute;
  display: none;
  background-color: #fff;
  margin: 0;
  padding: 0;
  list-style: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  max-width: 250px;
  padding: 15px;
  border-radius: 5px;
  padding-top: 40px;
}

ul.sub-menu li a {
  cursor: pointer;
  padding: 10px 15px;
}

ul.sub-menu li {
  position: relative;
  min-width: 200px;
  margin-bottom: 25px;
}

.header-main {
  position: relative;
}

.header-top {
  padding: 10px 0;
}

.main-navigation ul li span {
  margin-left: 5px;
}

/* Hamburger Menu Styles */
.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  outline: none;
}

.hamburger-icon {
  width: 25px;
  height: 2px;
  background-color: var(--primary-color);
  display: block;
  position: relative;
  transition: background 0.3s ease-in-out;
}

.hamburger-icon::before,
.hamburger-icon::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.hamburger-icon::before {
  top: -8px;
}

.hamburger-icon::after {
  bottom: -8px;
}

/* Active Hamburger Menu */
.hamburger.active .hamburger-icon {
  background: transparent;
}

.hamburger.active .hamburger-icon::before {
  transform: rotate(45deg);
  top: 0;
}

.hamburger.active .hamburger-icon::after {
  transform: rotate(-45deg);
  bottom: 0;
}

.banner-top-bar h3 img {
  width: 20px;
  display: inline-block;
  filter: brightness(0.5) invert(1);
  margin-right: 5px;
}

.banner-top-bar {
  background-color: #56bce4;
  display: flex;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  width: 100%;
  padding: 15px 0;
  gap: 8px;
}

.banner-top-bar h3 {
  margin-bottom: 0;
  font-size: 18px;
  color: #fff;
  display: flex;
  gap: 5px;
}

.banner-top-bar p {
  font-size: 16px;
  color: #fff;
}

.banner-top-bar a {
  font-size: 16px !important;
  color: #fff !important;
  text-decoration: underline 0.5px #cba951;
}

.banner-text {
  text-align: center;
  padding: 300px 0;
  background-image: url(assets/images/banner-bg.jpg);
  background-size: cover;
  background-color: #00000050;
  background-blend-mode: color;
  background-repeat: no-repeat;
}

.banner-text h2 {
  color: #fff;
  font-size: 70px;
  font-weight: 600;
}

.banner-text .btn {
  border: 0;
  padding: 15px 20px;
  border-radius: 8px;
  font-weight: 600;
  color: var(--primary-color);
  background: #fff;
  margin-top: 20px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.banner-text .btn:hover {
  background-color: var(--button-color1);
  color: #fff;
}

.section-heading {
  font-size: 40px;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 25px;
}

.section-desc {
  font-size: 16px;
  line-height: 22px;
  color: #555;
  margin: 25px 0;
}

.btn {
  background-color: var(--button-color1);
  color: #fff;
  border: 0;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background-color: var(--button-color2);
}

.btns-grp .btn:hover,
.footer-main .btn:hover {
  background-color: #fff;
  color: var(--primary-color);
}

.hero-left-img img {
  min-height: 450px;
  object-fit: cover;
}

.welcoming-patients-section .column-10 {
  background-color: #135caa;
  padding: 80px 0;
  color: var(--light-color);
  border-radius: 15px;
  padding-inline: 40px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.welcoming-patients-section .column-10 .section-heading {
  color: var(--light-color);
  margin-bottom: 0;
}

.welcoming-patients-section .column-10 .section-desc {
  color: var(--light-color);
  max-width: 850px;
  margin-inline: auto;
}

.btns-grp .btn:nth-child(1) {
  margin-right: 15px;
}

.our-speciality {
  background: linear-gradient(1deg, #56bce44a, white);
}

.speciality-box {
  border: 1px solid var(--primary-color);
  position: relative;
  text-align: center;
  border-radius: 5px;
  padding: 30px;
  background-color: #fff;
  padding-top: 60px !important;
  min-height: 340px;
  height: 100%;
}

.speciality-icon-container {
  width: 80px;
  height: 80px;
  border: 1px solid var(--primary-color);
  position: absolute;
  top: -48px;
  left: 0;
  right: 0;
  margin-inline: auto;
  background-color: #fff;
}

.speciality-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-inline: auto;
  margin-block: 8px;
  background-color: #f7f6f1;
}

.speciality-icon img {
  border-radius: 50px;
  border: 1px solid #cba951;
  display: block;
  margin-inline: auto;
}

.speciality-desc h3 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 20px;
}

.speciality-box .section-desc {
  padding-bottom: 60px;
}

.our-speciality .row {
  margin: 100px 0;
}

.invisalign-section {
  padding: 125px 0;
  background-image: url(assets/images/invisalign-bg.jpg);
  background-color: #00000050;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: color;
  min-height: 500px;
  background-attachment: fixed;
}

.invisalign-section .section-heading {
  color: #fff;
  font-weight: 500;
}

.invisalign.logo-container img {
  max-width: 200px;
  margin-bottom: 30px;
}

.invisalign-section .btn {
  background-color: #fff;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding-inline: 30px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.invisalign-section .btn:hover {
  background-color: var(--button-color1);
  border-color: var(--button-color1);
  color: #fff;
}

.doc-image-container img {
  border-radius: 15px;
  min-height: 550px;
  object-fit: cover;
}

.meet-the-doc-section .row {
  justify-content: space-around;
  margin-top: 60px;
}

.meet-the-doc-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meet-the-doc-section .column-6 {
  display: flex;
  height: 550px;
  color: #fff;
  background-image: url(assets/images/doc-bg.jpg);
  background-color: #00000080;
  background-blend-mode: color;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.meet-the-doc-section .column-6 .section-desc {
  color: #fff;
  margin-top: 0;
}

.meet-the-doc-right h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

.why-us-box {
  width: 100%;
  max-width: 420px;
  min-height: 120px;
  border: 2px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;
  margin: 30px auto;
  gap: 30px;
}

.why-us-box {
  width: 100%;
  max-width: 420px;
  min-height: 120px;
  border: 2px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;
  margin: 30px auto;
}

.why-us-icon-container p {
  position: absolute;
  top: 0;
  z-index: 1;
  left: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background-color: var(--primary-color);
  border-radius: 100%;
  color: #fff;
  line-height: 60px;
  font-size: 30px;
  font-weight: bold;
}

.why-us-box-desc .why-us-box {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
}

.star-ratings i {
  color: #ffd102;
}

.review-item {
  background-color: #fff;
  position: relative;
  border-radius: 8px;
  padding-inline: 15px;
  min-height: 280px;
  min-width: 420px;
  padding-top: 45px;
  color: var(--primary-color);
  margin-inline: 15px;
}

.reviews-section {
  background-image: url(assets/images/reviews-bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #00000080;
  background-blend-mode: darken;
  padding: 150px 0;
}

.reviews-section .section-heading,
.reviews-section .section-desc {
  color: #fff;
}

.reviews-container {
  margin-top: 80px;
}

.google-icon img {
  max-height: 40px;
  margin-bottom: 10px;
  margin-inline: auto;
}

.user-icon {
  color: #fff;
  background-color: var(--primary-color);
  font-size: 35px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -25px;
}

.user-name p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

.review-data p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.instagram-img-container {
  margin-top: 20px;
  overflow: hidden;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 450px;
}

th,
td {
  padding: 12px 0;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

td:first-child {
  padding-right: 50px; /* Add extra space between the day and time */
}

.footer-main {
  padding: 40px 0;
  background-color: var(--primary-color);
  color: #fff;
}

.footer-logo img {
  border-radius: 8px;
}

.footer-top .row {
  border-bottom: 1px solid;
  border-color: var(--secondary-color);
  padding-bottom: 30px;
  align-items: center;
}

.contact-box-address b,
.office-hours h4 {
  font-size: 30px;
  color: var(--primary-color);
  margin-bottom: 8px;
}

.contact-box-address p,
.contact-box-email p,
.contact-box-phone p {
  font-size: 16px;
  color: #555;
  margin-bottom: 8px;
}

.contact-box-address a,
.contact-box-email a,
.contact-box-phone a {
  color: var(--primary-color);
}

.links ul {
  list-style: none;
}

.links ul li {
  margin-bottom: 15px;
}

.footer-timings p {
  margin-bottom: 15px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icons a {
  font-size: 18px;
}

.footer-bottom-links {
  padding-top: 30px;
}

.instagram-img-container:hover img {
  transform: scale(1.2);
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.footer-logo {
  text-align: center;
}

/*---------------------------------------------------
##   Responsive
*   ----------------------------------------------------- */

@media (min-width: 1600px) {
  .container {
    max-width: 1470px;
  }
}

/* Responsive Styles */

@media (max-width: 1600px) {
  .banner-text {
    padding: 250px 0;
  }
  .our-speciality .row {
    margin: 80px 0;
  }
}

@media (max-width: 1116px) {
  .nav-btns {
    display: none;
  }
  .header-top-right {
    flex-direction: column;
    align-items: flex-start;
    display: none; /* Initially hidden */
  }

  .hamburger {
    display: block;
  }

  .main-navigation ul {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-top-right.active {
    display: flex; /* Show when active */
  }

  .main-navigation ul {
    width: 100%;
    text-align: left;
  }

  .main-navigation ul li {
    width: 100%;
  }

  .sub-menu {
    position: static;
    box-shadow: none;
  }

  .sub-menu li {
    width: 100%;
  }

  .header-top-right.active nav.main-navigation {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    width: 80%;
    min-height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 90%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .hamburger {
    position: absolute;
    right: 20px;
  }
  .main-navigation ul li {
    width: 100%;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 35px;
    text-align: center;
  }
  nav.main-navigation ul > li:hover .sub-menu {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}

@media (max-width: 767.98px) {
  .column {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }

  .header-top-right {
    display: none;
  }

  .hero-left-img img {
    margin-bottom: 30px;
  }

  .welcoming-patients-section .column-10 {
    flex: 0 0 82% !important;
  }
  .speciality-box {
    max-width: 450px;
    margin-inline: auto;
    height: auto;
    margin-bottom: 90px;
  }
  .our-speciality .row {
    margin-bottom: 0;
  }

  .meet-the-doc-section .column-6 {
    flex: 0 0 92% !important;
    margin-top: 20px;
  }
  .footer-logo {
    margin: 40px 0;
  }
  .footer-bottom-links .text-left,
  .footer-bottom-links .text-right {
    text-align: center;
  }
  .footer-bottom-link {
    margin-bottom: 15px;
  }
  .instagram-img-container img {
    width: 100%;
  }
  .office-hours {
    margin: 30px 0;
  }
  section.our-speciality,
  section.what-sets-us-apart-section,
  section.visit-us-section {
    padding-top: 0;
  }
}

@media (max-width: 649px) {
  .banner-text {
    padding: 180px 0;
  }
  .btns-grp .btn:nth-child(1) {
    margin-bottom: 15px;
  }
}
