/* Custom utility classes  */

:root {
  --primary-color: #135caa;
  --secondary-color: #cba951;
  --button-color1: #135caa;
  --button-color2: #cba951;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--primary-colors);
}

.container {
  width: 100%;
  max-width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.column {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.column-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.column-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.column-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.column-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.column-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.column-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.column-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.column-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.column-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.column-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.column-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.column-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.align-middle {
  align-items: center !important;
}

.align-end {
  align-items: flex-end !important;
}

.justify-center {
  justify-content: center;
}

/* Header */

.site-logo img {
  max-width: 250px;
  max-height: 150px !important;
  object-fit: contain;
}

.nav-btns {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  font-size: 16px;
  align-items: center;
}

.header-top .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-navigation li {
  display: inline-block;
}

.sub-menu {
  display: none;
}

.main-navigation li a {
  margin: 10px;
}

.header-btn {
  border-radius: 5px;
  background: var(--primary-color);
  padding: 7px 12px;
  color: #fff;
}

.appoinment-btns a:nth-child(2) {
  margin-left: 20px;
}

a.header-btn i {
  padding-right: 10px;
}

.main-navigation ul li {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  padding: 0 15px 0;
  font-size: 16px;
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}

.header-top-right {
  gap: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding: 10px;
}

/*---------------------------------------------------
##   Responsive
*   ----------------------------------------------------- */

@media (min-width: 1600px) {
  .container {
    max-width: 1470px;
  }
}

@media (max-width: 767.98px) {
  .column {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}
